In [7]:
import pandas as pd   # to load and transform data
import numpy as np    # for math/stat calculations
import altair as alt

In [10]:
# from url to pandas dataframe
url = "https://github.com/byuidatascience/data4missing/raw/master/data-raw/mtcars_missing/mtcars_missing.json" 
cars = pd.read_json(url)

In [17]:
# Group by one column
cars.groupby('gear').agg(mean = ('hp', np.mean), 
                         sum = ('hp', np.sum)
                         ).reset_index()

   gear        mean     sum
0     3  150.200000  1502.0
1     4  103.833333   623.0
2     5  175.000000   175.0
3   999   81.875000   655.0

In [15]:
# Group by multiple columns
cars.groupby(['gear', 'cyl']).agg(bob = ('hp', np.mean)).reset_index()

   gear  cyl      bob
0     3    4   97.000
1     3    6  107.500
2     3    8  170.000
3     4    4   78.500
4     4    6  116.500
5     5    6  175.000
6     5    8      NaN
7   999    4   81.875