### Week 10 Tuesday Notes

top row is the question

second row has the options of the answers to the question

I think pivoting is what one-hot-encoding does

In [2]:
# libraries
import pandas as pd
import altair as alt
import numpy as np

In [3]:
url = 'https://github.com/fivethirtyeight/data/raw/master/star-wars-survey/StarWars.csv'


sw_questions = pd.read_csv(url, encoding = "ISO-8859-1", header = None, nrows = 2)
sw_responses = pd.read_csv(url, encoding = "ISO-8859-1", header = None, skiprows = 2) 

sw_cols = pd.read_csv(url, encoding = "ISO-8859-1", header = None, nrows = 2)
sw_data = pd.read_csv(url, encoding = "ISO-8859-1", header = None, skiprows = 2)

how can we preform a case_when() in python?
- replace()?
- dictionary method?

Series v. Dataframe: 
- series is a one dementional frame (one column)
- dataframe is

In [4]:
# 0 is the first row number and ":" is the select all (think "*" in SQL)
# dat_1.iloc[0, :].str.lower()
# .str.replace(" ", "_")
# .ffill()


bob = (sw_questions
       .iloc[0,:]
       .replace("Have you seen any of the 6 films in the Star Wars franchise?", "seen_any")
       .replace("Do you consider yourself to be a fan of the Star Wars film franchise?", "is_fan_star_wars")
       .replace("Which of the following Star Wars films have you seen? Please select all that apply.", "seen_")
       .str.lower()
       .str.replace(" ", "_")
       .ffill()
)
bob

0                                          respondentid
1                                              seen_any
2                                      is_fan_star_wars
3                                                 seen_
4                                                 seen_
5                                                 seen_
6                                                 seen_
7                                                 seen_
8                                                 seen_
9     please_rank_the_star_wars_films_in_order_of_pr...
10    please_rank_the_star_wars_films_in_order_of_pr...
11    please_rank_the_star_wars_films_in_order_of_pr...
12    please_rank_the_star_wars_films_in_order_of_pr...
13    please_rank_the_star_wars_films_in_order_of_pr...
14    please_rank_the_star_wars_films_in_order_of_pr...
15    please_state_whether_you_view_the_following_ch...
16    please_state_whether_you_view_the_following_ch...
17    please_state_whether_you_view_the_following_ch...
18    please_state_whether_you_view_the_following_ch...
19    please_state_whether_you_view_the_following_ch...
20    please_state_whether_you_view_the_following_ch...
21    please_state_whether_you_view_the_following_ch...
22    please_state_whether_you_view_the_following_ch...
23    please_state_whether_you_view_the_following_ch...
24    please_state_whether_you_view_the_following_ch...
25    please_state_whether_you_view_the_following_ch...
26    please_state_whether_you_view_the_following_ch...
27    please_state_whether_you_view_the_following_ch...
28    please_state_whether_you_view_the_following_ch...
29                          which_character_shot_first?
30         are_you_familiar_with_the_expanded_universe?
31    do_you_consider_yourself_to_be_a_fan_of_the_ex...
32    do_you_consider_yourself_to_be_a_fan_of_the_st...
33                                               gender
34                                                  age
35                                     household_income
36                                            education
37                             location_(census_region)
Name: 0, dtype: object

In [5]:
mary = (sw_questions
        .iloc[1,:]
        .replace("Response", "")
        .str.replace("Star Wars: Episode", "")
        .str.lower()
        .str.replace(" ", "_")  #partial match, not full match
        .fillna("") #replace function specifically for NA values
)
mary

0
1
2
3         _i__the_phantom_menace
4      _ii__attack_of_the_clones
5      _iii__revenge_of_the_sith
6                _iv__a_new_hope
7     _v_the_empire_strikes_back
8         _vi_return_of_the_jedi
9         _i__the_phantom_menace
10     _ii__attack_of_the_clones
11     _iii__revenge_of_the_sith
12               _iv__a_new_hope
13    _v_the_empire_strikes_back
14        _vi_return_of_the_jedi
15                      han_solo
16                luke_skywalker
17          princess_leia_organa
18              anakin_skywalker
19                obi_wan_kenobi
20             emperor_palpatine
21                   darth_vader
22              lando_calrissian
23                     boba_fett
24                         c-3p0
25                         r2_d2
26                 jar_jar_binks
27                 padme_amidala
28                          yoda
29
30
31
32
33
34
35
36
37
Name: 1, dtype: object

In [6]:
new_column_names = bob + mary
new_column_names

0                                          respondentid
1                                              seen_any
2                                      is_fan_star_wars
3                           seen__i__the_phantom_menace
4                        seen__ii__attack_of_the_clones
5                        seen__iii__revenge_of_the_sith
6                                  seen__iv__a_new_hope
7                       seen__v_the_empire_strikes_back
8                           seen__vi_return_of_the_jedi
9     please_rank_the_star_wars_films_in_order_of_pr...
10    please_rank_the_star_wars_films_in_order_of_pr...
11    please_rank_the_star_wars_films_in_order_of_pr...
12    please_rank_the_star_wars_films_in_order_of_pr...
13    please_rank_the_star_wars_films_in_order_of_pr...
14    please_rank_the_star_wars_films_in_order_of_pr...
15    please_state_whether_you_view_the_following_ch...
16    please_state_whether_you_view_the_following_ch...
17    please_state_whether_you_view_the_following_ch...
18    please_state_whether_you_view_the_following_ch...
19    please_state_whether_you_view_the_following_ch...
20    please_state_whether_you_view_the_following_ch...
21    please_state_whether_you_view_the_following_ch...
22    please_state_whether_you_view_the_following_ch...
23    please_state_whether_you_view_the_following_ch...
24    please_state_whether_you_view_the_following_ch...
25    please_state_whether_you_view_the_following_ch...
26    please_state_whether_you_view_the_following_ch...
27    please_state_whether_you_view_the_following_ch...
28    please_state_whether_you_view_the_following_ch...
29                          which_character_shot_first?
30         are_you_familiar_with_the_expanded_universe?
31    do_you_consider_yourself_to_be_a_fan_of_the_ex...
32    do_you_consider_yourself_to_be_a_fan_of_the_st...
33                                               gender
34                                                  age
35                                     household_income
36                                            education
37                             location_(census_region)
dtype: object

The three code chunks above are GQ 1

In [7]:
sw_responses.columns = new_column_names
sw_responses

,respondentid,seen_any,is_fan_star_wars,seen__i__the_phantom_menace,seen__ii__attack_of_the_clones,seen__iii__revenge_of_the_sith,seen__iv__a_new_hope,seen__v_the_empire_strikes_back,seen__vi_return_of_the_jedi,please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._i__the_phantom_menace,...,"please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.yoda",which_character_shot_first?,are_you_familiar_with_the_expanded_universe?,do_you_consider_yourself_to_be_a_fan_of_the_expanded_universe?æ,do_you_consider_yourself_to_be_a_fan_of_the_star_trek_franchise?,gender,age,household_income,education,location_(census_region)
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3288388730,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1182,3288378779,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1183,3288375286,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1184,3288373068,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,4.0,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1185,3288372923,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,NaN,NaN,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,6.0,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

In [8]:
sw_data.columns = new_column_names
sw_data.head()

,respondentid,seen_any,is_fan_star_wars,seen__i__the_phantom_menace,seen__ii__attack_of_the_clones,seen__iii__revenge_of_the_sith,seen__iv__a_new_hope,seen__v_the_empire_strikes_back,seen__vi_return_of_the_jedi,please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._i__the_phantom_menace,...,"please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.yoda",which_character_shot_first?,are_you_familiar_with_the_expanded_universe?,do_you_consider_yourself_to_be_a_fan_of_the_expanded_universe?æ,do_you_consider_yourself_to_be_a_fan_of_the_star_trek_franchise?,gender,age,household_income,education,location_(census_region)
0,3292879998,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3292879538,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3292765271,Yes,No,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,NaN,NaN,NaN,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3292763116,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3292731220,Yes,Yes,Star Wars: Episode I The Phantom Menace,Star Wars: Episode II Attack of the Clones,Star Wars: Episode III Revenge of the Sith,Star Wars: Episode IV A New Hope,Star Wars: Episode V The Empire Strikes Back,Star Wars: Episode VI Return of the Jedi,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central

In [9]:
shot = (sw_data['which_character_shot_first?']
        .dropna()
        .value_counts(normalize = True)
        .reset_index()
        )

shot["percent"] = round(shot['which_character_shot_first?']*100, 0) 

shot

                              index  which_character_shot_first?  percent
0                               Han                     0.392512     39.0
1  I don't understand this question                     0.369565     37.0
2                            Greedo                     0.237923     24.0

In [10]:
part1 = (alt.Chart(shot)
            .mark_bar()
            .encode(
                x = alt.X('which_character_shot_first?', 
                          axis = None), 
                y = alt.Y('index', 
                          sort = ["Han", "Greedo", "I don't understand this question"], 
                          axis = None)
    )
)
part1

alt.Chart(...)

In [11]:
part2 = (alt.Chart(shot)
            .mark_text(
                align = 'left', baseline = 'middle', dx = 3
                )
            .encode(
                x = 'which_character_shot_first?', 
                y = alt.Y('index', 
                        sort = ["Han", "Greedo", "I don't understand this question"]), 
                        text = "percent")
        )
part2

alt.Chart(...)

In [12]:
(part1 + part2).properties(
    title = {
        "text": ["Who Shot First"], 
        "subtitle": ["According to 828 Respondents"]
    }
).configure(
    background = "#f0f0f0"
).configure_title(
    anchor = "start"
)

alt.LayerChart(...)

In [13]:
(sw_data.query("gender == 'Female' & seen_any == 'Yes'")
        .is_fan_star_wars
        .value_counts(normalize = True))

Yes    0.599496
No     0.400504
Name: is_fan_star_wars, dtype: float64

In [14]:
sw_data.seen_any.value_counts()

Yes    936
No     250
Name: seen_any, dtype: int64

In [15]:
sw_data.filter(regex = '^seen__').dropna(how = "all").shape

(835, 6)

In [16]:
sw_data.columns

Index(['respondentid', 'seen_any', 'is_fan_star_wars',
       'seen__i__the_phantom_menace', 'seen__ii__attack_of_the_clones',
       'seen__iii__revenge_of_the_sith', 'seen__iv__a_new_hope',
       'seen__v_the_empire_strikes_back', 'seen__vi_return_of_the_jedi',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._i__the_phantom_menace',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._ii__attack_of_the_clones',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._iii__revenge_of_the_sith',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._iv__a_new_hope',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._v_the_empire_strikes_back',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._vi_return_of_the_jedi',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.han_solo',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.luke_skywalker',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.princess_leia_organa',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.anakin_skywalker',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.obi_wan_kenobi',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.emperor_palpatine',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.darth_vader',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.lando_calrissian',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.boba_fett',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.c-3p0',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.r2_d2',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.jar_jar_binks',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.padme_amidala',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.yoda',
       'which_character_shot_first?',
       'are_you_familiar_with_the_expanded_universe?',
       'do_you_consider_yourself_to_be_a_fan_of_the_expanded_universe?æ',
       'do_you_consider_yourself_to_be_a_fan_of_the_star_trek_franchise?',
       'gender', 'age', 'household_income', 'education',
       'location_(census_region)'],
      dtype='object')

In [17]:
# pd.factorize()

# pd.get_dummies(sw_data["which_character_shot_first?"])
pd.get_dummies(sw_data["is_fan_star_wars"], drop_first = True)

      Yes
0       1
1       0
2       0
3       1
4       1
...   ...
1181    1
1182    1
1183    0
1184    1
1185    0

[1186 rows x 1 columns]

In [18]:
(
    sw_data
    .value_counts(['gender', 'seen_any'], sort = False)
    .reset_index()
)

   gender seen_any    0
0  Female       No  152
1  Female      Yes  397
2    Male       No   74
3    Male      Yes  423

In [19]:
# dat_1.gender.value_counts(normalize = True) # normalize does the math for you. Takes each and divided is by n()
(sw_data
.query("gender == 'Female' & seen_any == 'Yes'")
.is_fan_star_wars
.value_counts(normalize = True)
)

Yes    0.599496
No     0.400504
Name: is_fan_star_wars, dtype: float64

The code chunks above are one of the numerical summaries proven.

In [20]:
# First graph in the article - "Which 'Star Wars' Movies Have You Seen?"

# dat_1.seen_any.value_counts() # what-what?
(
sw_data
.filter(regex='^seen__')
.dropna(how="all")
.shape
)

(835, 6)

This is making a graph in the article.

On tuesday we'll do text data stuff.

Watch the video she'll post on this.

The take method's test.

In [21]:
# sw_responses.query("")

## Week 11 Tuesday Notes

In [22]:
shot = (sw_data['which_character_shot_first?']
    .dropna()
    .value_counts()
    .reset_index()
)

shot["percent"] = round(shot['which_character_shot_first?']*100, 0)

In [23]:
part1 = (
alt.Chart(shot)
   .mark_bar()
   .encode(
       x = alt.X('which_character_shot_first?', 
                 axis = None), 
       y = alt.Y('index', sort = ["Han", "Greedo", "I don't understand this question"], 
                 axis = None)
    )
)
part1

alt.Chart(...)

In [24]:
part2 = (
alt.Chart(shot)
    .mark_text(
        align = 'left', 
        baseline = 'middle', 
        dx = 3
    )
    .encode(
        x = 'which_character_shot_first?', 
        y = alt.Y('index', 
                  sort = ["Han", "Greedo", "I don't understand this question"]), 
                  text = "percent"
    )
)
part2

alt.Chart(...)

In [25]:
(part1 + part2).properties(
    title = {
        "text": ["Who Shot First"], 
        "subtitle": ["According to 828 Respondents"]
    }
).configure(
    background = "#f0f0f0"
).configure_title(
    anchor = "start"
)

alt.LayerChart(...)

In [26]:
# pd.factorize()
pd.get_dummies(sw_data["which_character_shot_first?"], 
               drop_first = True) # useful for onehotencoding and also turing yeses and nos into 0s and 1s.

      Han  I don't understand this question
0       0                                 1
1       0                                 0
2       0                                 1
3       0                                 1
4       0                                 0
...   ...                               ...
1181    1                                 0
1182    0                                 1
1183    0                                 0
1184    1                                 0
1185    0                                 1

[1186 rows x 2 columns]

## Week 12 Tuesday Notes

- pd.factorize() turns things into 0, 1, 2, 3...
- pd.get_dummies() is one hot encoding
- not one answer is always correct

In [27]:
# Question 3
q3 = sw_data.query('seen_any == "Yes"')

In [28]:
ml_age = (q3.age
   .str.replace("> ", "")
   .str.split("-", expand = True)
   .rename(columns = {0: "age_min", 1: "age_max"}) # this makes altair happy because they don't like integers as column names
   .age_min
   .astype("float")
)

In [29]:
ml_school = (q3.education.
        str.replace('Less than high school degree', '9').
        str.replace('High school degree', '12').
        str.replace('Some college or Associate degree', '14').
        str.replace('Bachelor degree', '16').
        str.replace('Graduate degree', '20').
        astype('float')
        )
ml_school

0       12.0
2       12.0
3       14.0
4       14.0
5       16.0
        ...
1180    14.0
1181    14.0
1182    16.0
1184    14.0
1185    20.0
Name: education, Length: 936, dtype: float64

In [30]:
q3.household_income.value_counts()

$50,000 - $99,999      238
$25,000 - $49,999      147
$100,000 - $149,999    115
$0 - $24,999            98
$150,000+               77
Name: household_income, dtype: int64

In [31]:
# part D

ml_income = (q3.household_income
   .str.replace("\$|,|\+", "")
   .str.split(" - ", expand=True)
   .rename(columns = {0: "income_min", 1: "income_max"}) # this makes altair happy because they don't like integers as column names
   .income_min
   .astype("float")
)
ml_income

C:\Users\brigh\AppData\Local\Temp/ipykernel_16532/863979388.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  ml_income = (q3.household_income

0            NaN
2            0.0
3       100000.0
4       100000.0
5        25000.0
          ...
1180         0.0
1181         0.0
1182     50000.0
1184    100000.0
1185     50000.0
Name: income_min, Length: 936, dtype: float64

In [32]:
sw_data.columns

Index(['respondentid', 'seen_any', 'is_fan_star_wars',
       'seen__i__the_phantom_menace', 'seen__ii__attack_of_the_clones',
       'seen__iii__revenge_of_the_sith', 'seen__iv__a_new_hope',
       'seen__v_the_empire_strikes_back', 'seen__vi_return_of_the_jedi',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._i__the_phantom_menace',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._ii__attack_of_the_clones',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._iii__revenge_of_the_sith',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._iv__a_new_hope',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._v_the_empire_strikes_back',
       'please_rank_the_star_wars_films_in_order_of_preference_with_1_being_your_favorite_film_in_the_franchise_and_6_being_your_least_favorite_film._vi_return_of_the_jedi',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.han_solo',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.luke_skywalker',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.princess_leia_organa',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.anakin_skywalker',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.obi_wan_kenobi',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.emperor_palpatine',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.darth_vader',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.lando_calrissian',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.boba_fett',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.c-3p0',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.r2_d2',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.jar_jar_binks',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.padme_amidala',
       'please_state_whether_you_view_the_following_characters_favorably,_unfavorably,_or_are_unfamiliar_with_him/her.yoda',
       'which_character_shot_first?',
       'are_you_familiar_with_the_expanded_universe?',
       'do_you_consider_yourself_to_be_a_fan_of_the_expanded_universe?æ',
       'do_you_consider_yourself_to_be_a_fan_of_the_star_trek_franchise?',
       'gender', 'age', 'household_income', 'education',
       'location_(census_region)'],
      dtype='object')

In [33]:
ml_dummies = pd.get_dummies(q3.filter()) # copy and paste all columns from columns above. See picture on phone.

TypeError: Must pass either `items`, `like`, or `regex`