### Week 10 Tuesday Notes

top row is the question

second row has the options of the answers to the question

I think pivoting is what one-hot-encoding does

In [ ]:
# libraries
import pandas as pd
import altair as alt
import numpy as np

In [ ]:
url = 'https://github.com/fivethirtyeight/data/raw/master/star-wars-survey/StarWars.csv'

sw_responses = pd.read_csv(url, encoding = "ISO-8859-1", header = None, skiprows = 2) 
sw_questions = pd.read_csv(url, encoding = "ISO-8859-1", header = None, nrows = 2)

how can we preform a case_when() in python?
- replace()?
- dictionary method?

Series v. Dataframe: 
- series is a one dementional frame (one column)
- dataframe is

In [ ]:
# 0 is the first row number and ":" is the select all (think "*" in SQL)
# dat_1.iloc[0, :].str.lower()
# .str.replace(" ", "_")
# .ffill()


bob = (sw_questions
       .iloc[0,:]
       .replace("Have you seen any of the 6 films in the Star Wars franchise?", "seen_any")
       .replace("Do you consider yourself to be a fan of the Star Wars film franchise?", "is_fan_star_wars")
       .replace("Which of the following Star Wars films have you seen? Please select all that apply.", "seen_")
       .str.lower()
       .str.replace(" ", "_")
       .ffill()
)
bob

In [ ]:
mary = (sw_questions
        .iloc[1,:]
        .replace("Response", "")
        .str.replace("Star Wars: Episode", "")
        .str.lower()
        .str.replace(" ", "_")  #partial match, not full match
        .fillna("") #replace function specifically for NA values
)
mary

In [ ]:
new_column = bob + mary
new_column

The three code chunks above are GQ 1

In [ ]:
sw_responses.columns = new_column

sw_responses

In [ ]:
(
    dat_1
    .value_counts(['gender', 'seen_any'], sort = False)
    .reset_index()
)

In [ ]:
# dat_1.gender.value_counts(normalize = True) # normalize does the math for you. Takes each and divided is by n()
(dat_1
.query("gender == 'Female' & seen_any == 'Yes'")
.is_fan_sw
.value_counts(normalize = True)
)

The code chunks above are one of the numerical summaries proven.

In [ ]:
# First graph in the article - "Which 'Star Wars' Movies Have You Seen?"

# dat_1.seen_any.value_counts() # what-what?
(
dat_1
.filter(regex='^seen__')
.dropna(how="all")
.shape
)

This is making a graph in the article.

On tuesday we'll do text data stuff.

Watch the video she'll post on this.

The take method's test.

In [ ]:
# sw_responses.query("")

## Week 11 Tuesday Notes

In [ ]:
shot = (sw_data['which_character_shot_first?']
    .dropna()
    .value_counts()
    .reset_index()
)

shot["percent"] = round(shot['which_character_shot_first?']*100, 0)

In [ ]:
part1 = (
alt.Chart(shot)
   .mark_bar()
   .encode(
       x = alt.X('which_character_shot_first?', 
                 axis = None), 
       y = alt.Y('index', sort = ["Han", "Greedo", "I don't understand this question"], 
                 axis = None)
    )
)
part1

In [ ]:
part2 = (
alt.Chart(shot)
    .mark_text(
        align = 'left', 
        baseline = 'middle', 
        dx = 3
    )
    .encode(
        x = 'which_character_shot_first?', 
        y = alt.Y('index', 
                  sort = ["Han", "Greedo", "I don't understand this question"]), 
                  text = "percent"
    )
)
part2

In [ ]:
(part1 + part2).properties(
    title = {
        "text": ["Who Shot First"], 
        "subtitle": ["According to 828 Respondents"]
    }
).configure(
    background = "#f0f0f0"
).configure_title(
    anchor = "start"
)

In [ ]:
# pd.factorize()
pd.get_dummies(sw_data["which_character_shot_first?"], 
               drop_first = True) # useful for onehotencoding and also turing yeses and nos into 0s and 1s.

# Project 5: The war with Star Wars

### Grand Question 1
**Shorten the column names and clean them up for easier use with pandas.**

### Grand Question 2
**Please validate that the data provided on GitHub lines up with the article by recreating 2 of their visuals and calculating 2 summaries that they report in the article.**

### Grand Question 3
**Clean and format the data so that it can be used in a machine learning model. As you format the data, you should complete each item listed below. In your final report provide example(s) of the reformatted data with a short description of the changes made.**

a. Filter the dataset to respondents that have seen at least one film.

b. Create a new column that converts the age ranges to a single number. Drop the age range categorical column.

c. Create a new column that converts the school groupings to a single number. Drop the school categorical 
column.

d. Create a new column that converts the income ranges to a single number. Drop the income range categorical 
column.

e. Create your target (also known as "y" or "label") column based on the new income range column.

f. One-hot encode all remaining categorical columns.

### Grand Question 4
**Build a machine learning model that predicts whether a person makes more than $50k.**